/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative;
    padding-top: 5.5rem;

    .error-logo {
        img {
            max-width: 100%;
        }
    }
}