
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;
    background-color: #1a1a1a;

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    &#about-banner, &#contact-banner {
        padding-top: 7.375rem;
        padding-bottom: 4.5rem;
    }
}
