
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: 1.875rem;

	.fbox-icon {
		margin-bottom: 0.75rem;
	}
}