
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
    display: flex;
	align-items: center;
	margin-bottom: 1.5rem;

	.icon-wrapper {
		min-width: 2.5rem;
		line-height: 1;

		i {
			color: $white;
			font-size: 1.125rem;
		}
	}

	.icon-header {
		display: flex;
		align-items: center;
		line-height: 1;

		h4 {
			color: #5a5a5a;
			font-family: $body-font;
			font-size: 1rem;
			font-weight: 400;
			margin-bottom: 0;
			min-width: 10.625rem;		
		}

		span {
			color: $white;
		}
	}
}