.logos {
	display: flex;
	justify-content: space-between;

	.logo-item {
		border-radius: 0.3125rem;
		max-width: 13.625rem;
		height: 6.25rem;
		width: 100%;		
		display: flex !important;
		align-items: center;
		justify-content: center;
		margin: auto;
		
		img {
			width: auto;
			height: auto;
			margin: auto;
		}
	}
} 