.portfolios {
    .slick-slide {
        opacity: 0.3;
        transition: opacity 0.3s;
    
        &:not(.slick-current) {
            opacity: 0.3;
            transform: scale(0.85);
        }
    
        &.slick-current.slick-active {
            opacity: 1;
            transform: scale(1.5);
        }

        @include media-breakpoint-down(lg) {
            &:not(.slick-current) {
                opacity: 0.3;
                transform: scale(1);
            }
        
            &.slick-current.slick-active {
                opacity: 1;
                transform: scale(1);
            } 
        }
    }
}

.portfolio {
    padding: 1.5rem;

    img {
        width: 100%;
        height: auto;
    }
}

.see-more-pt {
    position: absolute;
    top: 45%;
    right: 6rem;
}